
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup] ="form" (submit)="saveCategory()" *ngIf="!isLoading">
        <h4>Add Category Level 1</h4>
        
        <mat-form-field appearance="fill">
          <mat-label>Select Parent Category</mat-label>
          <mat-select formControlName="parentCategory" required>
            <mat-option placeholder="select category">--</mat-option>
            <mat-option *ngFor="let category of categories" [(value)]="category">
              {{category.title}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('parentCategory').invalid">Please Select Parent Category</mat-error>
         
        </mat-form-field>

        <mat-form-field>
            <mat-label>Add Category Title</mat-label>
            <input matInput 
             type ="text"
             placeholder="Add Category Tilte"
             formControlName ="title">
            <mat-error *ngIf="form.get('title').invalid">Please enter a title</mat-error>
        </mat-form-field>

        <div>
            <button mat-stroked-button (click)="filepicker.click()" type="button">Pick Image</button>
            <input type="file" #filepicker (change)="onImgePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
            <img [src]="imagePreview" [alt]="form.value.title">
        </div>
        <mat-form-field>
            <mat-label>Add Category Desc</mat-label>
            <input matInput
            formControlName ="content"
            placeholder="Add category desc"
            >
            <mat-error *ngIf="form.get('content').invalid">Please enter a Content</mat-error>
        </mat-form-field>
        <button mat-raised-button class="btn btn-primary" color="primary" type="submit">
            Save Level 1 Category
        </button>
      


    </form>
</mat-card>

