
<router-outlet></router-outlet>
<!-- page-wrapper Start-->
<div class="page-wrapper">

  <!-- Page Header Start-->
  <app-header></app-header>
  <!-- Page Header Ends -->

  <!-- Page Body Start-->
 

</div>









<!-- 
<div class="page-wrapper">
  <div class="page-main-header">
<app-header></app-header>
  </div>
<div class="page-body-wrapper">
  <app-sidebar></app-sidebar>
  <app-cat-create ></app-cat-create>  
  <app-cat-list ></app-cat-list>   
</div>

   -->
 
  
  
  <!-- <app-test></app-test> -->

